/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
    background-color: #80ced6;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    
}

#MainPageCarousel{
    text-align:center;
}

#footerContainer{
    margin-bottom:auto;
    margin-top:auto;
}

/*---------------------------------------------------
    CONTENT CLASSES
------------------------------------------------------*/
.jumbotron {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    background-image: url('../img/curtin1.jpg');
}

.carousel-inner img {
    width: 90%;
    height: 90%%;
}

.carousel-inner p{
    color:white !important; 
}

.card-deck .card .card-body{
    height:50%;
}

.card-deck .card .card-body p{
    color:white;
    font-size:24px;
}

